#selected-player {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #c9d6e2;
    height: 15vh;
}

#player-list {
    padding: 8px;
    overflow: scroll;
    height: 27vh;
    border: 1px solid lightgray;
}

