@import '~bootstrap/dist/css/bootstrap.min.css';

.bg-blue {
    background-color: #111c5c;
}

.bg-lightred {
    background-color: #f9d2d7;
}

.highlighted {
    background-color: darkred;
    color: white;
}

.pos-pill {
    color: white;
    background-color: gray;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    font-size: 80%;
    font-weight: 400;
    margin-left: 2px;
}

.pos-QB { background-color: blue; }
.pos-WR { background-color: orange; }
.pos-RB { background-color: red; }
.pos-TE { background-color: green; }
.pos-K { background-color: darkgoldenrod }
.pos-DEF { background-color: rebeccapurple; }

.team-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #343a40;
    font-size: 80%;
    font-weight: 400;
    margin-left: 2px;
}